// Paths
$image-path: '../../img';
$font-path: '../../fonts';

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #F2F2F2;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #656565;
$gray-700: #495057 !default;
$gray-800: #363535;
$gray-900: #151515;
$blue: #1D43FF;
$lt-blue: #497696;
$lt-blue-100: #5e71cf;
$lt-blue-200: #E3F3FF;
$dark-blue: #083A5E;
$purple: #6882FF;
$lt-purple: #331A5D;  
$black:    #000 !default;
$pinkis-blue: #bbaacc;
$primary: $blue;

//Fonts
$helvetica: 'HelveticaNeue', sans-serif;