.container {
  max-width: 1295px;
  padding: 0 15px;
  margin: 0 auto;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gradient-sec {
  position: relative;
  z-index: 1;
  background: rgb(29, 67, 255);
  background: -moz-linear-gradient(180deg, rgba(29, 67, 255, 0.1) 0%, rgba(29, 67, 255, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(29, 67, 255, 0.1) 0%, rgba(29, 67, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(29, 67, 255, 0.1) 0%, rgba(29, 67, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d43ff", endColorstr="#1d43ff", GradientType=1);
}

.bg-slanted-light-blue {
  background-image: url("#{$image-path}/slanted-bg-light-blue.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-blue {
  color: $blue;
}

.text-dark-blue {
  color: $dark-blue;
}

.section-y-gap {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @media (min-width: 992px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &--lg {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: 992px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.two-columns,
.three-columns {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);

  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-bottom: 1.5rem;
  }
}

.two-columns {
  & > * {
    @media (min-width: 992px) {
      flex: 0 0 auto;
      width: 50%;
    }
  }
}

.three-columns {
  & > * {
    @media (min-width: 768px) {
      flex: 0 0 auto;
      width: 50%;
    }

    @media (min-width: 992px) {
      width: 33.33333333%;
    }
  }
}

.mw-md {
  justify-content: center;
  & > * {
    max-width: 416px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-items-center {
  align-items: center;
}

.has-horizontal-sep {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -124px;
    background-image: url('#{$image-path}/horizontal-separator.png');
    background-repeat: no-repeat;
    background-size: 161px 12px;
    width: 161px;
    height: 12px;

    @media (max-width: 991px) {
      display: none;
    }
  }
}

.has-vertical-sep {
  position: relative;

  @media (max-width: 991px) {
    margin-bottom: 230px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background-image: url('#{$image-path}/vertical-separator.png');
    background-repeat: no-repeat;
    background-size: 12px 259px;
    width: 12px;
    height: 259px;

    // @media (max-width: 991px) {
    //  display: none;
    // }
  }
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-lg-1 {
  @media (min-width: 992px) {
    order: 1;
  }
}

.order-lg-2 {
  @media (min-width: 992px) {
    order: 2;
  }
}
