.card {
  &-light {
    display: flex;
    position: relative;
    z-index: 1;
    background: url('#{$image-path}/card-light-bg.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    // &__bg {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   z-index: -1;

    //   svg {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 56px;
      height: 56px;
      background-color: $lt-purple;
      border-radius: 100%;
      color: $white;
      margin-top: 0.25rem;
    }

    &__content {
      font-size: 0.875rem;
      padding: 2rem 2rem 1.5rem 2rem;

      h3 {
        color: $dark-blue;
        font-weight: 700;
        font-size: 1.375rem;
      }

      a {
        font-size: 1rem;
      }
    }
  } 
}